*{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}

/*body{
	font-size:14px;
	color:#666;
	background:url('img/demo_bg.jpg') no-repeat center top #111;
	font-family:Arial, Helvetica, sans-serif;
}*/

/*#iphone{
	width:750px;
	height:400px;
	background:url('img/iphone_4G.png') no-repeat center center;
	position:relative;
}*/

.webpage{
	/* Contains the webpage screenshot */
	width:100%;
	position:relative;
	overflow: hidden;
}

.retina{
	/* The Retina effect */
	background:url('img/webpage.png') no-repeat center center white;
	border:2px solid white;

	/* Positioned absolutely, so we can move it around */
	position:absolute;
	height:180px;
	width:180px;

	/* Hidden by default */
	display:none;

	/* A blank cursor, notice the default fallback */
	cursor:url('img/blank.cur'),default;
	
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	-webkit-box-shadow:0 0 5px #777;
	box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	
	/* CSS3 rounded corners */
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	border-radius:90px;
}

.retina.chrome{
	/* A special chrome version of the cursor */
	cursor:url('img/blank_google_chrome.cur'),default;
}

#main{
	/* The main div */
	margin:40px auto;
	position:relative;
	width:750px;
}